body {
    background-color: #fff;
}

h1, h2, h3, p, label {
    font-family: verdana, sans-serif;
}

.margin-bottom-2-em {
    margin-bottom: 2em;
}

.no-display {
    display: none;
}

.center {
    margin: auto;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    font-size: 14px;
}

.content {
    margin-top: 10em;
}

.analyze {
    margin-top: 5em;
}

.upload-label {
    padding: 10px;
    font-size: 12px;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 13px;
}
