body {
    background-color: #fff;
}

h1, h2, h3, p, label {
    font-family: verdana, sans-serif;
}

@media (max-width: 767px) {
  .lg-view {
    display: none;
  }
}

@media (min-width: 768px) {
  .sm-view {
    display: none;
  }
}

.margin-top-1-em {
    margin-top: 1em;
}

.margin-bottom-1-em {
    margin-bottom: 1em;
}

.no-display {
    display: none;
}

.center {
    margin: auto;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    font-size: 14px;
}

.content {
    margin-top: 2.5em;
}

.analyze {
    margin-top: 1em;
}

.upload-label {
    padding: 10px;
    font-size: 12px;
}

.result-text {
    margin-top: 0.5em;
    padding: 10px;
}
